body{
    background-image: url(https://2.bp.blogspot.com/-qwDem6fJU_g/XxXcnIPGJ7I/AAAAAAAAAoA/uzhrMkc4FB8-SX9yO0Qhoz4Ipt7YDwSVACLcBGAsYHQ/s1600/Background%2B7.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
 }
